* {
	box-sizing: border-box;
	margin: 0;
}

.navbar {
	width: 100vw;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkred;
	color: white;
}

#map {
	height: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Nav-Title {
	margin-top: 20px;
	font-size: 40px;
	font-family: fantasy;
}

.entry {
	margin: 45px 7%;
	height: 25%;
	width: 85%;
	display: flex;
	border: 1px solid green;
}

.photo {
	width: 25%;
	aspect-ratio: 2/2.5;
}

.text-section {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.location-info {
	/* border: 1px solid blue; */
	display: inline-flex;
	width: 50%;

	margin-left: 5%;
	margin-top: 30px;
	font-size: 1rem;
	line-height: 12px;
	font-family: 'Inter', sans-serif;
	padding-left: 5%;
}

.location-info > a {
	color: #918e9b;
	font-size: small;
	align-self: flex;
	font-size: .8rem;
	font-weight: 400;
	line-height: 12px;
	margin-left: 20px;
}

.location-info > #location-name {
	font-weight: 400;
}

.location-info > #location-icon {
	color: rgb(111, 2, 2);
	display: flex;
	font-size: 1rem;
	padding-bottom: 3px;
}

.Entry-Title {
	position: absolute;
	top: 13%;
	left: 10.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dates {
	position: absolute;
	top: 25%;
	left: 10.5%;
}
