* {
	box-sizing: border-box;
	margin: 0;
}

.navbar {
	width: 100vw;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkred;
	color: white;
}

#map {
	height: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Nav-Title {
	margin-top: 20px;
	font-size: 40px;
	font-family: fantasy;
}

.entry {
	border: 1px solid green;
	display: flex;

	margin-left: 8%;
	margin-right: 8%;
	/* margin: 100px 40px; */
	/* width: 67%; */
	/* height: 33%; */
}

.entry > .photo {
	width: 27%;
	height: 100%;
}
